<div class="header-container">
    <div class="logo-section">
        <div class="logo-icon">DTU</div>
        <div class="logo-text">
            <div class="logo-title">DTU Volunteer</div>
            <div class="logo-subtitle">Kết nối & Cống hiến</div>
        </div>
    </div>

    <nav class="main-nav">
        <div class="nav-links" data-nav-container>
        </div>
    </nav>

    <div class="header-right">
        <div class="dropdown-group" data-auth-required>
            <div class="menu-toggle">
                <span class="toggle-text">Mục khác</span>
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="dropdown-menu" data-menu-id="user-actions">
                <a href="/profile/page">Hồ sơ cá nhân</a>
                <!-- <a href="/activities/page">Hoạt động</a> -->
                <a href="/list-history">Lịch sử đăng ký</a>
                <a href="/activity-history">Lịch sử hoạt động</a>
                <!-- <a href="#" data-auth-action="logout">Đăng xuất</a> -->
                <!-- <a href="/logout">Đăng xuất</a> -->
            </div>
        </div>
         <button class="btn-home">
        <i class="fa-solid fa-home"></i>
        Trang Chủ
    </button>
    </div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
<script type="module" src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>